body {
	display: flex;
	height: 90vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	background-image: url(./backgroundimage.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: ; */
}
span {
	font-size: 15px;
}
.main {
	width: 90vw;
}
.main-div-heading {
	font-size: 50px;
	padding: 20px 0;
}
.form {
	padding: 20px 0;
	/* font-size: 25px; */
	/* margin: 10px; */
	background-color: grey;
}
.form > input {
	margin: 10px 0 0 0;
	font-size: 15px;
	padding: 5px;
	/* border: 2px solid black; */
}
.content-forgot {
	margin: 20px 0 0 0;
	height: 30px;
	font-size: 16px;
}
.content-forgot > a {
	color: #484848;
}
.content-forgot > a:hover {
	color: blue;
	font-size: 18px;
}
.content-signup {
	height: 30px;
	font-size: 18px;
}
lable {
	font-size: 20xp;
	font-weight: bold;
}
